body {
 padding: 10px;
 background: url(/img/edit1.jpg) no-repeat right top #35476B;
 color: #fff;
 font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
 font-size: 64px;
}
#list {
  font-size: 32px;
}
#atsymbol {
  font-size: 32px; 
  margin-right: 5px;
} 
input[type=text] {
  height: 50px;
  width: 400px;
  padding: 5px;
  padding-left: 10px;
  outline: none;
  border: 2px solid;
  border-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  font-family: Cambria, Cochin, Georgia, serif;
  font-size: 32px;
  color: #fff;
  -webkit-transition:   background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;

  -moz-transition:      background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;

  -o-transition:        background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;

  -ms-transition:       background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;

  transition:           background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;          
}
input[type=text]:focus {
  border-color: #FFF;
  border-color: rgba(53,71,107,0.8);
  /*box-shadow: 0px 0px 25px -2px #333;*/
}
#emailbox {
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 525px;
  padding: 40px;
  padding-top: 20px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background: #fff; /* fallback for browsers that don't understand rgba */
  border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
  background-color: rgba(53,71,107,0.55); /* slighly transparent white */
  border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
}
#titlebox {
  width: 620px;
  padding: 15px 40px 20px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background: #fff; /* fallback for browsers that don't understand rgba */
  border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
  background-color: rgba(53,71,107,0.55); /* slighly transparent white */
  border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgba(53,71,107,1.0);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(53,71,107,1.0);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(53,71,107,1.0);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgba(53,71,107,1.0);
}
#submitbutton {
  height: 63px;
  padding: 5px;
  border: 2px solid;
  outline: none;
  border: rgba(53,71,107,0.8);
  border-radius: 5px;
  background-color: rgba(53,71,107,0.8);
  font-family: Cambria, Cochin, Georgia, serif;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  -webkit-appearance: button
}