body {
  padding: 10px;
  background: url(/img/edit1.jpg) no-repeat right top #35476B;
  color: #fff;
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
}
.font64 {
  font-size: 64px; 
}
#list {
  font-size: 24px;
}
#atsymbol {
  margin-right: 5px;
} 
form, input {
  margin: 0;
}
input[type=text] {
  height: 50px;
  width: 400px;
  padding: 5px;
  padding-left: 10px;
  outline: none;
  border: 2px solid;
  border-color: rgba(0,0,0,0.1);
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
  font-family: Cambria, Cochin, Georgia, serif;
  font-size: 32px;
  color:    rgba(53,71,107,1.0);
/*  -webkit-transition:   background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;

  -moz-transition:      background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;

  -o-transition:        background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;

  -ms-transition:       background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;

  transition:           background-color .2s ease-in,
                        background-position .2s ease-in,
                        box-shadow .3s ease-in;*/          
}
input[type=text]:focus {
  border-color: #FFF;
  border-color: rgba(53,71,107,0.8);
  /*box-shadow: 0px 0px 25px -2px #333;*/
}
#eggbox, #expirebox, #errorbox {
  font-size: 32px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 40px 20px 15px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background: #fff; /* fallback for browsers that don't understand rgba */
  border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
  background-color: rgba(53,71,107,0.55); /* slighly transparent white */
  border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
}
#eggbox {
  margin-top: 100px;
  padding-right: 20px;
}
#expirebox {
  width: 500px;
  font-size: 18px;
  margin-top: 10px;
}
#errorbox {
  width: 400px;
  margin-top: 10px;
  font-size: 14px;
}
#titlebox {
  width: 530px;
  padding: 15px 40px 20px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  background: #fff; /* fallback for browsers that don't understand rgba */
  border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
  background-color: rgba(53,71,107,0.55); /* slighly transparent white */
  border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    rgba(53,71,107,0.7);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    rgba(53,71,107,0.7);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    rgba(53,71,107,0.7);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    rgba(53,71,107,0.7);
}
#submitbutton {
  height: 63px;
  padding: 5px;
  border: 2px solid;
  outline: none;
  border: rgba(53,71,107,0.8);
  border-radius: 5px;
  background-color: rgba(53,71,107,0.8);
  font-family: Cambria, Cochin, Georgia, serif;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  -webkit-appearance: button
}
#footer {
  font-size: 11px;
  position: absolute;
  bottom: 3px;
  background-color: rgba(53,71,107,0.55);
}
a {
  color: white;
  text-decoration: none;
}
#d_clip_button {
  background-color: rgba(53,71,107,0.8);
  padding-top: 4px;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
  font-size: 20px;
  border: 0;
}
div.outer{
    display:inline-block;
    position:relative;
    left:50%;
}

div.inner{
    position:relative;
    left:-50%;
}

.mail {
    font-size: 11px; 
    margin-right: 5px;
    margin-top: 30px; 
    padding: 20px 15px 20px 15px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background: #fff; /* fallback for browsers that don't understand rgba */
    border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
    background-color: rgba(53,71,107,0.55); /* slighly transparent white */
    border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
}

#landingemail {
    margin-top: 100px;
    padding: 20px 15px 20px 15px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background: #fff; /* fallback for browsers that don't understand rgba */
    border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
    background-color: rgba(53,71,107,0.55); /* slighly transparent white */
    border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
}

div.link {
    font-size: 16px; 
    margin-right: 5px;
    margin-top: 30px; 
    padding: 20px 15px 20px 15px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background: #fff; /* fallback for browsers that don't understand rgba */
    border: #solid 10px #000; /* fallback for browsers that don't understand rgba */
    background-color: rgba(53,71,107,0.55); /* slighly transparent white */
    border-color: solid 10px rgba(0,0,0,0.2); /*Very transparent black*/
}

.black {
  color: #000;
}
